<div class="navbar-fixed-top col-xs-2 return-btn-container"></div>

<p id="notice"><%= notice %></p>

<script type="text/javascript">
  $(document).ready(function() {
    $("#tasks_table").tablesorter();
  });
</script>

<%= form_for "request", url: "/jd/job_table" do |f| %>
    <%= render partial: "shared/project_subform", locals: { f: f }%>

  <table>
    <%= render partial: "shared/date_subform", locals: { f: f }%>

    <tr>
      <div>
        <td>
          <%= f.label :partition %>
        </td>
        <td>
          <select multiple id="partition" name="partitions[]" style="width: 600px">
            <% ["compute", "regular4", "regular6", "hdd4", "hdd6", "gputest", "test", "smp", "gpu"].each do |value| %>
              <option value="<%= value %>" <% if @partitions.include?(value) %> selected <% end %> ><%= value %></option>
            <% end %>
          </select>
        </td>
      </div>
    </tr>

    <tr>
      <div>
        <td>
          <%= f.label :state %>
        </td>
        <td>
          <select id="state" name="state" style="width: 200px">
            <% {"" => "All", "COMPLETED" => "Completed", "TIMEOUT" => "Timeout", "CANCELLED" => "Cancelled", "FAILED" => "Failed", "NODE_FAIL" => "Node failed"}.each do |value, name| %>
                <option value="<%= value %>" <% if @state == value %> selected <% end %> ><%= name %></option>
            <% end %>
          </select>
        </td>
      </div>
    </tr>
  </table>

  <div style="margin-top: 20px; "></div>

  <div class="submit">
    <%= f.submit "Show" %>
    <p>
      Shown result will be limited to 100 jobs max.
    </p>
  </div>

<% end %>

<table id="tasks_table" class="tablesorter-blue task_table">
  <thead>
    <tr>
      <th>System</th>
      <th>job_id</th>
      <th>account</th>
      <th>partition</th>
      <th>t start</th>
      <th>t end</th>
      <th>state</th>
      <th>num_cores</th>
      <th>duration(hours)</th>
      <th style="white-space: nowrap">cores * hours</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |system_name, tasks| %>
      <% tasks.each do |task| %>
        <tr>
          <td class="table_text"><%= system_name %></td>
          <td class="table_text"><%= task["job_id"] %></td>
          <td class="table_text"><%= task["account"] %></td>
          <td class="table_text"><%= task["partition"] %></td>
          <td class="table_text" style="white-space: nowrap"><%= DateTime.strptime(task["t_start"].to_s, "%s").strftime("%D %T") %></td>
          <td class="table_text" style="white-space: nowrap"><%= DateTime.strptime(task["t_end"].to_s, "%s").strftime("%D %T") %></td>
          <td class="task_state_<%= task['state'] %>"><%= task["state"] %></td>

          <td class="sensor_text"><%= task["num_cores"] %></td>
          <td class="sensor_text"><%= format_float_or_nil((task["t_end"] - task["t_start"]) / 3600.0) %></td>
          <td class="sensor_text"><%= format_float_or_nil(task["num_cores"] * (task["t_end"] - task["t_start"]) / 3600.0) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
