<script>
  function toggle_all(table_id) { $('#' + table_id).find('input[type="checkbox"]').click(); };
</script>

<% @available_projects.each do |project, accounts| %>
  <h2>Project: <%= project.title %></h2>
  <button type="button" id="check_all" onclick="toggle_all('project_table_<%=project.id%>');">Un/Check all</button>

  <table border="1" width="100%" id="project_table_<%=project.id%>">

    <tr>
      <% accounts.each_with_index do |account, index| %>
        <td style="padding: 5px 10px; width: 20%">
          <div class="text_field">
            <%= check_box_tag "selected_accounts[]", account, @selected_accounts.include?(account) %>
            <%= f.label account %>
          </div>
        </td>
        <% if index % 5 == 4 %>
          </tr><tr>
        <% end %>
      <% end %>
    </tr>
  </table>
  <div style="margin-top: 20px; "></div>
<% end %>
