<div class="container mt-4">
  <div class="mb-4">
    <%= link_to projects_users_job_notifications_path(@project, @user), class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> <%= t('.back_to_settings') %>
    <% end %>
  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div>
        <h2><%= t('.edit_notification_settings', name: @notification.name) %></h2>
        <p class="text-muted mb-0">
          <%= t('.project_info', title: @project.title) %> | <%= t('.user_info', email: @user.email) %>
        </p>
      </div>
      <%= link_to t('.delete_settings'),
                job_notification_job_notification_project_setting_path(@notification, @project_setting),
                method: :delete,
                data: { confirm: t('.delete_confirmation') },
                class: "btn btn-danger" %>
    </div>
    <div class="card-body">
      <%= render 'form', project_setting: @project_setting, notification: @notification, project: @project, user: @user %>
    </div>
  </div>
</div>
