<div class="container mt-4">
  <div class="mb-4">
    <%= link_to projects_users_job_notifications_path(@project, @user), class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> <%= t('.back_to_settings') %>
    <% end %>
  </div>

  <div class="card">
    <div class="card-header">
      <h2><%= t('.setup_notification', name: @notification.name, title: @project.title) %></h2>
      <p class="text-muted"><%= t('.user_info', email: @user.email) %></p>
    </div>
    <div class="card-body">
      <%= render 'form', project_setting: @project_setting, notification: @notification, project: @project, user: @user %>
    </div>
  </div>
</div>
