<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @export.title %>
</p>

<p>
  <strong>Request:</strong>
  <%= @export.request %>
</p>

<%= link_to 'Edit', edit_export_path(@export) %> |
<%= link_to 'Back', exports_path %>
