<div class="container mt-4">
  <div class="mb-4">
    <%= link_to users_job_notifications_path(@user), class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> <%= t('.back_to_user_settings') %>
    <% end %>
  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2><%= t('.edit_notification_settings', notification_name: @notification.name, user_email: @user.email) %></h2>
      <%= link_to t('.delete_settings'),
                job_notification_job_notification_user_default_path(@notification, @user_default),
                method: :delete,
                data: { confirm: t('.delete_confirmation') },
                class: "btn btn-danger" %>
    </div>
    <div class="card-body">
      <%= render 'form', user_default: @user_default, notification: @notification, user: @user %>
    </div>
  </div>
</div>
