<div class="container mt-4">
  <div class="mb-4">
    <%= link_to job_notification_events_path, class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> <%= t('.back_to_events') %>
    <% end %>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h2><%= t('.event_info_header', id: @event.id) %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h4><%= t('.main_info') %></h4>
          <table class="table">
            <tr>
              <th width="30%"><%= t('.id_label') %>:</th>
              <td><%= @event.id %></td>
            </tr>
            <tr>
              <th><%= t('.notification_label') %>:</th>
              <td>
                <%= link_to @event.job_notification.name, job_notification_path(@event.job_notification) %>
              </td>
            </tr>
            <tr>
              <th><%= t('.job_label') %>:</th>
              <td><%= @event.perf_job_id %></td>
            </tr>
            <tr>
              <th><%= t('.user_label') %>:</th>
              <td><%= @event.user.email %></td>
            </tr>
            <tr>
              <th><%= t('.project_label') %>:</th>
              <td><%= @event.core_project.title %></td>
              </tr>
            <tr>
              <th><%= t('.created_label') %>:</th>
              <td><%= @event.created_at.strftime('%d.%m.%Y %H:%M:%S') %></td>
            </tr>
            <tr>
              <th><%= t('.status_label') %>:</th>
              <td>
                <% if @event.processed %>
                  <span class="badge badge-success"><%= t('.processed_status') %></span>
                  <span class="text-muted ml-2">
                    <%= @event.processed_at&.strftime('%d.%m.%Y %H:%M:%S') %>
                  </span>
                <% else %>
                  <span class="badge badge-warning"><%= t('.pending_status') %></span>
                <% end %>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-md-6">
          <h4><%= t('.additional_info') %></h4>
          <% if @event.data.present? %>
            <div class="card bg-light">
              <div class="card-body">
                <pre class="mb-0"><%= JSON.pretty_generate(@event.data) %></pre>
              </div>
            </div>
          <% else %>
            <div class="alert alert-info">
              <%= t('.no_additional_data') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
