<div class="container mt-4">
  <div class="mb-4">
    <%= link_to job_notification_events_path, class: "btn btn-outline-secondary" do %>
      <i class="fa fa-arrow-left"></i> К списку событий
    <% end %>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h2>Информация о событии #<%= @event.id %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h4>Основная информация</h4>
          <table class="table">
            <tr>
              <th width="30%">ID:</th>
              <td><%= @event.id %></td>
            </tr>
            <tr>
              <th>Уведомление:</th>
              <td>
                <%= link_to @event.job_notification.name, job_notification_path(@event.job_notification) %>
              </td>
            </tr>
            <tr>
              <th>Задача:</th>
              <td><%= @event.perf_job_id %></td>
            </tr>
            <tr>
              <th>Пользователь:</th>
              <td><%= @event.user.email %></td>
            </tr>
            <tr>
              <th>Проект:</th>
              <td><%= @event.core_project.title %></td>
              </tr>
            <tr>
              <th>Создано:</th>
              <td><%= @event.created_at.strftime('%d.%m.%Y %H:%M:%S') %></td>
            </tr>
            <tr>
              <th>Статус:</th>
              <td>
                <% if @event.processed %>
                  <span class="badge badge-success">Обработано</span>
                  <span class="text-muted ml-2">
                    <%= @event.processed_at&.strftime('%d.%m.%Y %H:%M:%S') %>
                  </span>
                <% else %>
                  <span class="badge badge-warning">Ожидает обработки</span>
                <% end %>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-md-6">
          <h4>Дополнительная информация</h4>
          <% if @event.data.present? %>
            <div class="card bg-light">
              <div class="card-body">
                <pre class="mb-0"><%= JSON.pretty_generate(@event.data) %></pre>
              </div>
            </div>
          <% else %>
            <div class="alert alert-info">
              Дополнительные данные отсутствуют.
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
