<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @task.account %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task.task_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
