<div class="navbar-fixed-top col-xs-2 return-btn-container"></div>

<p id="notice"><%= notice %></p>

<script type="text/javascript">
  $(document).ready(function() {
  //  $("#tasks_table").tablesorter();

      var start_date = <% if @t_from %> new Date(<%= @t_from * 1000 %>); <% else %> "07.02.2016"; <% end %>;
      var end_date = <% if @t_to %> new Date(<%= @t_to * 1000 %>); <% else %> new Date(); <% end %>;

      $("#request_start_date").datepicker("setDate", start_date);
      $("#request_end_date").datepicker("setDate", end_date);
  });
</script>

<%= form_for "request", url: "/jd/user_stat" do |f| %>
    <% @available_projects.each do |project, accounts| %>
      <h4>Project: <b><%= project.title %></b></h4>
      <table>

        <% accounts.each_with_index do |account, index| %>

          <% if index % 6 == 0 %>
            <tr>
          <% end %>
            <td>
              <div class="text_field">
                <%= f.label account %>
                <%= check_box_tag "selected_accounts[]", account, @allowed_accounts.include?(account) %>
              </div>
            </td>
          <% if index % 6 == 5 %>
            </tr>
          <% end %>
      <% end %>
      </table>
    <% end %>

    <div class="dropdown">
      <%= f.label :start_date%>
      <%= f.text_field :start_date, :class => 'datepicker' %>
    </div>

    <div class="dropdown">
      <%= f.label :end_date%>
      <%= f.text_field :end_date, :class => 'datepicker' %>
    </div>

    <div class="submit">
      <%= f.submit "Show" %>
    </div>
<% end %>

<% if not @user_stat.nil? %>
    <h1>Total</h1>

    <table id="general_table" class="tablesorter-blue task_table">
      <thead>
        <tr>
          <th>System</th>
          <th>Total tasks</th>
          <th>Total CPU*Hours</th>
          <th>Total GPU*Hours</th>
        </tr>
      </thead>

      <tbody>
        <% @cluster_stat.each do |name, stat| %>
          <tr>
            <td><%= name %></td>
            <td><%= stat["count"] %></td>
            <td><%= stat["cores_sec"] / 3600 %></td>
            <td><%= stat["gpu_sec"] / 3600 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% @clusters.each do |cluster_name, _| %>
    <h1><%= cluster_name %></h1>

    <table id="tasks_table" class="tablesorter-blue task_table">
      <thead>
        <tr>
          <th>Partition</th>
          <th>State</th>
          <th>Count</th>
          <th>Cores*Hours</th>
        </tr>
      </thead>

      <tbody>
        <% @user_stat[cluster_name]["count"].each do |partition, states| %>
          <tr>
            <td class="table_bold_text" rowspan="<%= states.length + 1 %>"class="table_text"><%= partition %></td>

            <td class="table_bold_text">TOTAL</td>
            <td class="table_bold_text"> <%= states.values.reduce(:+) %> </td>
            <td class="table_bold_text"> <%= format_float_or_nil(@user_stat[cluster_name]["cores_sec"][partition].values.reduce(:+) / 3600.0) %> </td>
          </tr>
          <% states.each do |state, count| %>
            <tr>
              <td class="table_text"><%= state %></td>
              <td class="table_text"><%= count %></td>
              <td class="table_text"><%= format_float_or_nil(@user_stat[cluster_name]["cores_sec"][partition][state] / 3600.0) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
